*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    width: 100dvw;
    height: 100dvh;
    font-family: "Josefin Sans", sans-serif;
}

/* HEADER SECTION */

header{
    display: flex;
    flex-direction: column;
    background-image: url('./images/desktop/image-hero.jpg');
    height: 650px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
}

.navbar,
.nav--inner{
    display: flex;
}

.navbar{
    position: relative;
    justify-content: space-between;
}

.closeNav--btn,
.logo{
z-index: 1;
}

.nav--inner{
    height: 650px;
    width: 100%;
    margin: 0;
    position: absolute;
    flex-direction: column;
    background: #000000;
    padding: 233px 24px 0;
    gap: 24px;
    /* transition: display 0.5s ease */
}

.nav--inner > p{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight:200;
    text-transform: uppercase;
}

.logo{
    width: 144px;
    padding: 40px 0 0 24px;
}

.navbar,
.nav--inner,
.closeNav--btn,
.hambg--icon{
    transition: all 0.5s ease-in-out;
}

.hambg--icon{
    width: 24px;
    object-fit: scale-down;
    cursor: pointer;
    margin-top: 40px; 
    margin-right: 26px;
}

.closeNav--btn{
    cursor: pointer;
    font-size: 1.5rem;
    margin-top: 40px; 
    margin-right: 26px;
    
}

.opened,
.closed{
    display: none;
}


header > h1{
    text-transform: uppercase;
    margin:auto 24px;
    padding: 26px;
    font-size: 2.5rem;
    font-weight: 200;
    border: 2px solid #FFFFFF;

}

/* ABOUT SECTION */
.about, 
.about--inner{
    display: flex;
    flex-direction: column;
}

.about{
    margin: 96px 24px;
    gap: 3em;
}

.about > img{
    width: 100%;
}

.about--inner{
    justify-content: space-between;
    gap: 1em;
    margin: 0 24px;
}

.about--inner > h2,
.about--inner > p{
    text-align: center;
}

.about--inner > h2{
font-size: 2rem;
text-transform: uppercase;
font-weight: 300;
}

.about--inner > p{
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 25px;
}


/* SERVICES SECTION */
.services{
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
}

.services > h2{
    margin-bottom: 24px;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;

}

.service{
    display: flex;
    align-items: center;
    width: 327px;
    height: 120px;
    padding-left: 20px;
    color: #FFFFFF;
    font-size:1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
}

.service > p{
    width: 180px;
}

.deep--earth{
background: url('./images/desktop/image-deep-earth.jpg')
}

.night--arcade{
background: url('./images/desktop/image-night-arcade.jpg');
}

.soccer--team{
background: url('./images/desktop/image-soccer-team.jpg');
}

.the--grid{
background: url('./images/desktop/image-grid.jpg');
}

.above--vr{
background: url('./images/desktop/image-from-above.jpg');
}

.pocket--borealis{
background: url('./images/desktop/image-pocket-borealis.jpg');
}

.the--curiosity{
background: url('./images/desktop/image-curiosity.jpg');
}

.make--fisheye{
background: url('./images/desktop/image-fisheye.jpg');
}

.all--btn{
padding: 13px 43px;
text-transform: uppercase;
font-size: 0.875rem;
border: 1px black solid;
cursor: pointer;
}

/* footer */

footer,
.footer--navs,
.footer--socMedia,
.attribution{
    display: flex;
}

footer,
.footer--navs{
    flex-direction: column;
}

footer{
    align-items: center;
    background-color: #000000;
    color:#FFFFFF;
    padding: 56px 52px;
}

.logo--footer{
    width: 144px;
    margin-bottom: 32px;
}

.footer--navs{
    gap: 1em;
    margin-bottom: 48px;
}

.footer--socMedia{
    gap: 1em;
    margin-bottom: 16px;
}

.copyright{
    font-family: "Alata", sans-serif;
    font-weight: 300;
    margin-bottom: 1em;;
}

.attribution{
    font-family: "Alata", sans-serif;
    font-weight: 300;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.social--media,
.footer--navs > p{
    cursor: pointer;

}